/*
* Colors
  blu:
    36 126 164
    #207EA4

  grigio:
    128 128 128
    #808080
*/
hr.divider {
  border-color: #207EA4;
}

.btn-primary {
  background-color: #207EA4;
  border-color: #207EA4;
}
.btn-primary:hover {
  background-color: #2034a3;
  border-color: #2034a3;
}
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(36,126,164,.5);
}
.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #20a38f;
  border-color: #20a38f;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(36,126,164,.5);
}

.btn-light {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}
.btn-light:hover {
  background-color: #effafc;
  /*border-color: #c7f4f9;*/
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #f9f9f9;
}
#mainNav .show .navbar-nav .nav-item .nav-link {
  color: #212529;
}
.nav-link.active {
  color: #207EA4;
}
#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #207EA4 !important;
}
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #207EA4 !important;
}
.bg-primary {
  background-color: #207EA4 !important;
}
.text-primary {
  color: #207EA4 !important;
}
.portfolio-box-caption {
  background: rgba(36, 126, 164, 0.9);
}


#contact .fas {
  color: #808080;
}

/*
* Dimensions
*/
#mainNav .navbar-brand {
  position: relative;
  height: 100px;
}
#brand-logo  {
  height: 90px;
}
#mainNav .container {
}
@media (max-width: 600px) {
  #mainNav .navbar-brand {
    max-height: 70px;
    margin-left: 43%;
    padding-top: 0px;
  }
  #brand-logo  {
    height: 80px;
  }
}

/*
* Sections
*/
#services article {
  margin-top: 2em;
}

/*
* Images
*/
header.masthead {
  background: linear-gradient(
      to bottom,
      rgba(92,77,66,.6) 0,
      rgba(92,77,66,.6) 100%
    ),
    url(../img/bg-masthead-ab.jpg) fixed center no-repeat;
  background-size: cover;
}
header.masthead-giovani {
  background: linear-gradient(
      to bottom,
      rgba(92,77,66,.6) 0,
      rgba(92,77,66,.6) 100%
    ),
    url(../img/bg-masthead-giovani.jpg) fixed center no-repeat;
  background-size: cover;
}

.scaling-image {
  width: 100%;
  display: inline-block; }
  .scaling-image:hover .frame {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); }
  .scaling-image:hover img, .scaling-image:hover .feature-img-bg {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

.frame,
.frame img, .frame .feature-img-bg {
  -webkit-transition: .35s;
  -o-transition: .35s;
  transition: .35s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  overflow: hidden; }

.frame {
  border-radius: .5rem;
}

.frame img {
  max-height: 25em;

}

/*
* Hijacking main font into bootstrap
*/

body {
  font-family: 'Ibarra Real Nova', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Ibarra Real Nova', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.tooltip {
  font-family: 'Ibarra Real Nova', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.popover {
  font-family: 'Ibarra Real Nova', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn {
  font-family: 'Ibarra Real Nova', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#mainNav .navbar-brand {
  font-family: 'Ibarra Real Nova', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-family: 'Ibarra Real Nova', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category {
  font-family: 'Ibarra Real Nova', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

