/*
* Colors
  blu:
    36 126 164
    #207EA4

    chiaro
      #20a38f
    scuro
      #2034a3
    scuro+
      #2022a3

  grigio:
    128 128 128
    #808080
*/

.underline {
  text-decoration: underline !important;
}

.cookies-alert {
  opacity: .85;
}

.hidden {
  visibility: hidden;
}

hr.divider {
  border-color: #207EA4;
}
.bg-dark hr.divider,.bg-primary hr.divider {
  border-color: #f0f0f0;
}

.bg-dark {
  background-color: #808080 !important;
}

.bg-dark-soft {
  background-color: rgba(125,125,125,.60);
}

.btn-primary {
  background-color: #207EA4;
  border-color: #207EA4;
}
.btn-primary:hover {
  background-color: #2034a3;
  border-color: #2034a3;
}
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(36,126,164,.5);
}
.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #2022a3;
  border-color: #2022a3;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(32,52,163,.5);
}

.btn-light {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}
.btn-light:hover {
  background-color: #effafc;
  /*border-color: #c7f4f9;*/
}

a:hover {
  color: #2034a3;
  text-decoration: underline;
}
a {
  color: #207EA4;
  text-decoration: none;
  background-color: transparent;
}
a.light:hover {
  color: #effafc;
  text-decoration: underline;
}
a.light {
  color: #f9f9f9;
  text-decoration: none;
  background-color: transparent;
}


.list-group-item.active {
  color: #fff;
  background-color: #207EA4;
  border-color: #207EA4;
}
.border-primary {
  border-color: #207EA4 !important;
}


#mainNav .navbar-nav .nav-item .nav-link {
  color: #f9f9f9;
}
#mainNav .show .navbar-nav .nav-item .nav-link {
  color: #212529;
}
.nav-link.active {
  color: #207EA4;
}
#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #207EA4 !important;
}
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #207EA4 !important;
}
.bg-primary {
  background-color: #207EA4 !important;
}
.text-primary {
  color: #207EA4 !important;
}
.portfolio-box-caption {
  background: rgba(36, 126, 164, 0.9);
}


#contact .fas {
  color: #808080;
}
#contact.bg-dark .fas, #contact.bg-primary .fas {
  color: #f0f0f0;
}

/*
* Dimensions
*/
.masthead {
  overflow: hidden;
}
#mainNav .navbar-brand {
  position: relative;
  height: 100px;
}
#brand-logo  {
  height: 90px;
}
#mainNav .container {
}
@media (max-width: 600px) {
  #mainNav .navbar-brand {
    max-height: 70px;
    left: 50%;
    top: 50%;
    padding-top: 0px;
    transform: translate(-50%, 0);
  }
  #brand-logo  {
    height: 70px;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (max-width: 380px) {
  #mainNav .navbar-brand {
    max-height: 60px;
    left: 50%;
    top: 50%;
    padding-top: 0px;
    transform: translate(-50%, 0);
  }
  #brand-logo  {
    height: 60px;
  }
}

/*
* Text
*/

body {
  font-size: 1.2rem;
}
h6 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1.45rem;
}
h4 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.8rem;
}
h2 {
  font-size: 2.0rem;
}
h1 {
  font-size: 2.2rem;
}
.text-small {
  font-size: .9rem;
}

/*
* Sections
*/
#services article:not(:first-of-type) {
  margin-top: 5rem;
}
.page-section {
  padding: 7rem 0;
}
.page-section#values {
  padding-top: 0;
}

/*
* Images
*/
header.masthead {
  background: linear-gradient(
      to bottom,
      rgba(92,77,66,.6) 0,
      rgba(92,77,66,.6) 100%
    ),
    url(../img/bg-masthead-ab.jpg) fixed center no-repeat;
  background-size: cover;
}
header.masthead-giovani {
  background: linear-gradient(
      to bottom,
      rgba(92,77,66,.6) 0,
      rgba(92,77,66,.6) 100%
    ),
    url(../img/bg-masthead-giovani.jpg) fixed center no-repeat;
  background-size: cover;
}
header.masthead-donne {
  background: linear-gradient(
      to bottom,
      rgba(92,77,66,.6) 0,
      rgba(92,77,66,.6) 100%
    ),
    url(../img/bg-masthead-donne.jpg) fixed center no-repeat;
  background-size: cover;
}
header.masthead-genitori {
  background: linear-gradient(
      to bottom,
      rgba(92,77,66,.6) 0,
      rgba(92,77,66,.6) 100%
    ),
    url(../img/bg-masthead-genitori.jpg) fixed center no-repeat;
  background-size: cover;
}
header.masthead-supporto {
  background: linear-gradient(
      to bottom,
      rgba(92,77,66,.6) 0,
      rgba(92,77,66,.6) 100%
    ),
    url(../img/bg-masthead-supporto.jpg) fixed center no-repeat;
  background-size: cover;
}
header.masthead-chi-sono {
  background: linear-gradient(
      to bottom,
      rgba(92,77,66,.6) 0,
      rgba(92,77,66,.6) 100%
    ),
    url(../img/bg-masthead-chi-sono.jpg) fixed center no-repeat;
  background-size: cover;
}

/* iphone get crazy with fixed background so...*/
@media only screen and (max-width: 800px)
{
  header.masthead {
    background-attachment: scroll;
  }
}

.scaling-image {
  width: 100%;
  display: inline-block; }
  .scaling-image:hover .frame {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); }
  .scaling-image:hover img, .scaling-image:hover .feature-img-bg {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

.frame,
.frame img, .frame .feature-img-bg {
  -webkit-transition: .35s;
  -o-transition: .35s;
  transition: .35s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  overflow: hidden; }

.frame {
  border-radius: .5rem;
}


/*
* Hijacking main font into bootstrap
*/

body {
  font-family: 'Ibarra Real Nova', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Ibarra Real Nova', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.tooltip {
  font-family: 'Ibarra Real Nova', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.popover {
  font-family: 'Ibarra Real Nova', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn {
  font-family: 'Ibarra Real Nova', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#mainNav .navbar-brand {
  font-family: 'Ibarra Real Nova', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-family: 'Ibarra Real Nova', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category {
  font-family: 'Ibarra Real Nova', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*
* Animations
*/
.arrow-container{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  /*position: absolute;*/
  bottom: 25px;
  left: 0;
  right: 0;
}

.arrow-1{
  width: 100px;
  height: 100px;
  background: #207EA4;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
}

.arrow-2{
  width: 60px;
  height: 60px;
  background: #207EA4;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  display: table;
}

.arrow-2:before, .arrow-2:after {
  box-sizing: unset;
}

.arrow-2:before{
  width: 52px;
  height: 52px;
  content: "";
  border: 2px solid #f0f0f0;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}

.arrow-2 i.fa{
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #f0f0f0;
}

/* Custom Animate.css */
.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
            transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
            transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 0;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
}


/*
* Timeline
*/
/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #B0B0B0;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #207EA4;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(36, 126, 164, 0.2);
}
